.edit-profile{

   border:1px solid black;
   width:70%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px lightgrey;

  header{

text-align:center;
    
  }

.edit-container{
   
    display:flex;
    flex-direction: column;
    padding:30px 4%;

    label{
 
    margin:20px 4%;


    input{
        border-color:transparent;
        border-bottom:2px solid teal;
        width:90%;
        height:30px;
        outline:none;

    }

    
 input:focus,input:hover{
  box-shadow:2px 2px 2px teal;
}   

   
input::placeholder{

  font-weight:bold;
  font-size:medium;
}

  input[type="file"]{
      width:50%;
      margin-left: 10px;
      border-color: transparent;
  }




}

}

.edit-profile-btn1{
 
    width:77.9%;
    height:50px;
    margin-left:32%;
    transform:translateX(-32%);
    margin-bottom:50px; 
    border-color: transparent;
    background-color:#1565c0;
    cursor: pointer;
    font-size:medium;
    color: white;
    font-weight: bold;
}

.edit-profile-btn1:hover{

background-color:white;
border-color:#1565c0;
color:#1565c0;
box-shadow: 3px 3px 3px #1565c0;

}

}

@media screen and (max-width:545px){

  .edit-profile{
    width:84%;
    
  }

}
